[submodule "Packages/MinimalUtility/Runtime/Gist/UnityWebRequestHttpMessageHandler"]
	path = Packages/MinimalUtility/Runtime/Gist/UnityWebRequestHttpMessageHandler
	url = https://gist.github.com/kochounoyume/1c73668e2f8ea0ea209f74780567db1c
